# **What is a programming Language?**

A programming language is an artificial language that can be used to control the behaviour of a machine, particularly a computer. Programming languages, like human languages, are defined through the use of syntactic and semantic rules, to determine structure and meaning respectively.


Examples are: Python, Ruby, Java, JavaScript, C, C++, and C#. 

Programming languages are used to write all computer programs and computer software. A programming language is like a set of instructions that the computer follows to do something.

# **Python For Beginners**


Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.
# Why Python?


*   Free and open source
*   Easy to learn


*   Portable
*   A lot of applications including web developing, app developing and data science


*   Can be treated in a procedural way, object oriented way and fuctional way

## **Installing IDE(Integrated Development Environment):**

How to download and install Python on Windows:

https://www.python.org/downloads/

how to download and install Pycharm IDE on Windows:

https://www.jetbrains.com/pycharm/download/

Moreover, here you can get complete guidance about installing IDE for python on Windows.

https://www.guru99.com/how-to-install-python.html

# **Python Syntax**

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
print("2345")

2345

In [ ]:
print("2092")

2092

In [ ]:
a = 100
print(a)
b = "Python"
print(b)

100
Python

# **Comment**
Comments can be used to explain Python code. 

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.


2 types of comments in Python:


*   Single line comment
*   Multi-line comment

In [ ]:
print("Let's learn about comments.")
#it is a single line comment
print("Icode")

Let's learn about comments.
Icode

In [ ]:
print("""Multi-line Comment""")
'''for multi-line comment, you can use # with every line or
simply use triple inverted commas(multi-line string).
ar
sar
ahghjj
'''

print("It's an example of multi-line string.")

It's an example of multi-line string.

# **Reserve words or keywords**

Keywords are predefined, reserved words used in Python programming that have special meanings to the interpreter.

We cannot use a keyword as a variable name, function name, or any other identifier. They are used to define the syntax and structure of the Python language.

Following are some keywords in Python:


False,     Is,     In,     Lambda,    True,    None,    If,     Elif,    Break,       Else,    Continue,    Class,    Not,    And,    Or

In [ ]:
print('We are here to "learn Python"')

We are here to "learn Python"

# **Python Variables**
Variables are containers for storing data values.

Python has no command for declaring a variable. There is no need to write the data type of a variable before it. 

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5 
y = 10.3
print('x')
print(y)
print(x,y)

x
10.3
5 10.3

In [ ]:
a = "Icode"
b = 'Guru,'
print(a,b)
# print(a,',',b)  Shortcut ctrl + /

IcodeGuru,

In [ ]:
myvariable = "Python"
print("myvariable")

myvariable

# **Rules for assigning name to variable**



*   A variable name must start with a letter or the underscore character and there must be no white space in a variable name
*   A variable name cannot start with a number


*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ). No special characters are allowed i.e. @icode , Python$ are the invalid variables.
*   Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
_myVar5 = "iCodeGuru"
myVariableName = 95                 
MyVariableName = 'Pakistan'         
myVariableName = 88.5 
print(myVariableName)

# **Types of variable name cases**
Camel Case

Snake Case

Pascal Case

In [ ]:
a = 10
a = 5
print(a)

In [ ]:
camelCase = 100
snake_case = 5.9
PascalCase = "Python"

# **Assigning values to the variable:**




* Assigning multiple values to multiple variables
  
*   Assigning one value to multiple variables

#**Multiple Values to Multiple Variables**

Python allows you to assign values to multiple variables in one line.

In [ ]:
x, y, z = "Orange", 5, "Apple"
print(x)
print(y)
print(z)
a , b = 5 , 8
print(a)
print(b)

Orange
5
Apple
5
8

#**One Value to Multiple Variables**

You can also assign the same value to multiple variables in one line.

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)
a = b = c = 1
print(a)
print(b)
print(c)

Orange
Orange
Orange
1
1
1

In [ ]:
b = 2
print(b)

In [ ]:
#b = 45
print(b)

In [ ]:
x , y, z , a = 5 , 6, 7  , 8
print(x)
print(y)
print(z)

5
6
7

#**Getting Address of a Variable**

Use `id` function for it.

The `id()` function returns a unique id for the specified object.

All objects in Python has its own unique id.

The `id` is assigned to the object when it is created.

The `id` is the object's memory address, and will be different for each time you run the program.

In [ ]:
x = 5
y = 5
x = 10
print(x)
print(y)
print(id(x))
print(id(y))

10
5
9793376
9793216

In [ ]:
x = "Hello"
print(id(x))
y = "Hello1"
print(id(y))

139740145670576
139740040869104

# **Data Types**
Following are some built-in data types in Python:


*   Text Type:  `str`
*   Numeric Types:  `int`, `float`  
*   Sequence Types: `list`, `tuple`
*   Mapping Type: `dict`
*   Set Type: `set`
*   Boolean Type: `bool`







---

In [ ]:
string_var = "Programming"
first_var = 20
float_var = 18.23
bool_var = False

print(string_var)
print(first_var)
print(float_var)
print(bool_var)

Programming
20
18.23
False

**Getting the Data type**

You can get the data type of any object by using the **type()** function:

In [ ]:
Var1 = 5
var1 = 1
print(var1)
print(Var1)
var2 = 2.5
# print(type(var2))
var3 = """Hello"""
# print(type(var3))
# var4 = true
# print(type(var4))

1
5

# **Type Casting in Python**
We can change the data type of a variable or a value.

In [ ]:
first = "105"
# print(type(first))
# first = int(first)
# print(first)
# print(type(first))
second = 90.8
third = str(second)
print(third)
print(type(third))

90.8
<class 'str'>

In [ ]:
string = False
string1 = str(string)
print(string1)
print(type(string1))

False
<class 'str'>

In [ ]:
integer =100000
boolean = bool(integer)
print(boolean)

True

In [ ]:
boolean = True
integer = int(boolean)
print(integer)

1

In [ ]:
x = int(input("Enter anything"))
print(x + 5)
#print(type(x))

Enter anything 6
11

In [ ]:
print('My name is Tahmas.')
a = "6"

My name is Tahmas.

# **Operators**

Operators are used to perform operations on variables and values.
Python divides the operators in the following groups:
*   Arithmetic operators

*   Assignment operators

*   Comparison operators

*   Logical operators

*   Membership operators

#**Arithmetic Operators**

* Addition +
* Subtraction -
* Multiplicatin *
* Division /
* Modulus %
* Exponentiation **
* Floor Division //

In [ ]:
#Addition
a = int(input("Enter a number "))
b = 4.0
c = a + b
print(c)
print(type(c))
#print(3 + 7)

Enter a number 5
9.0
<class 'float'>

In [ ]:
#Subtraction
a = 4
b = 5.0

print(a - b)
print(type(a - b))

-1.0
<class 'float'>

In [ ]:
#Multiplication
a = 2.0
b = 4
print(a*b)
print(type(a*b))

8.0
<class 'float'>

In [ ]:
#Division
x = 12
y = 5
z = int(x/y)
print(z)
print(type(z))

2
<class 'int'>

In [ ]:
#Floor Division
x = 12
y = 5
z = x//y
print(z)
print(type(z))

In [ ]:
print(-3/2)

-1.5

In [ ]:
#Exponentiation or Exponential
x = 5
y = 2   # 5 raised to power 2, 5*5
print(x**y)  # 1st value = base, 2nd value = power
print(type(x**y))

25
<class 'int'>

In [ ]:
#Modulus
x = 12
y = 5
print(x%y)
print(type(x%y))

2
<class 'int'>

In [ ]:
print(4 * 3 + 2 / 2)

13.0

#**Operator Precedence**


paranthesis

exponentiation

multiplication / division / f.d / modulus

addition, subtraction

In [ ]:
print(12 + 5 * (4 - 2))

22

#**Assignment Operators**

Assignment operators are used to assign values to variables

In [ ]:
x = 5
#x += 3    # x = x+3
#x -= 3      # x = x - 3
#x *= x       # x = 5*5
#x /= 3        # x = x/3
#x %= 3
#x //= 3
x **= 3       
print(x)

125

#**Comparison Operators**


These are used to compare two variables with each other.

">"  is greater than

"<"  is smaller than 

">="  is greater than or equal to 

"<="  is smaller than or equal to

"=="  is equal to

"!=" is not equal to

In [ ]:
a = 7
b = 10
print(a>=b)
#print(a==b)
#print(a<b)

False

# **Logical Operators**

Python has three Boolean operators, or logical operators: and , or , and not.

Logical operators are used to combine conditional statements

  

`and` 	      Returns "True" if both statements are true		
`or`	        Returns "True" if one of the statements is true	
`not`	        Reverse the result, returns "False" if the result is true

In [ ]:
x = 9
#print(x < 11 and  x < 10)
print(x < 5 or x < 10)
print(not (x < 5 or x < 10))
print(not x > 10)

In [ ]:
a = 20
b = 70
print(a==b or a>b)

#**Membership Operators**

Membership operators are used to test if a sequence is presented in an object

`in` Returns "True" if a sequence with the specified value is present in the object

`not in` Returns "True" if a sequence with the specified value is not present in the object

In [ ]:
var1 = "Python for Beginners"
#print("p" in var1)
var2 = ["orange", 5, "3.5"]
#print("orange" not in var2)

print("o" in "iCodeGuru")

#**Identity Operators**

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.

`is` Returns True if both variables are the same object

`is not` Returns True if both variables are not the same object

In [ ]:
a = 10
b = "10"

print(a is b)
print(id(a))
print(id(b))