# **Python Variables**
Variables are containers for storing data values.

Python has no command for declaring a variable. There is no need to write the data type of a variable before it. 

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5 
y = 10.3
print('x')
print(y)
print(x,y)

x
10.3
5 10.3

In [ ]:
#a  ''''Icode', "Guru"'''
b = 'Guru'
print(a)
print(b)
print(a,',',b)

'Icode', "Guru"
Guru
'Icode', "Guru" , Guru

# **Rules for assigning name to variable**



*   A variable name must start with a letter or the underscore character and there must be no white space in a variable name
*   A variable name cannot start with a number


*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ). No special characters are allowed i.e. @icode , Python$ are the invalid variables.
*   Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
_myVar5 = "iCodeGuru"
myVariableName = 95                 
MyVariableName = 'Pakistan'         
my_variable_name = 88.5 
print(myVariableName)

SyntaxError: ignored

# **Assigning values to the variable:**




* Assigning multiple values to multiple variables
  
*   Assigning one value to multiple variables

#**Multiple Values to Multiple Variables**

Python allows you to assign values to multiple variables in one line.

In [ ]:
x, y, z = "Orange", 5, "Apple"
print(x)
print(y)
print(z)
a , b = 5 , 8
print(a)
print(b)

Orange
5
Apple
5
8

#**One Value to Multiple Variables**

You can also assign the same value to multiple variables in one line.

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)
a = b = c = 1
print(a)
print(b)
print(c)

Orange
Orange
Orange
1
1
1

In [ ]:
b = 2
print(b)

2

In [ ]:
#b = 45
print(b)

45