# **Operators**

Operators are used to perform operations on variables and values.
Python divides the operators in the following groups:
*   Arithmetic operators

*   Assignment operators

*   Comparison operators

*   Logical operators

*   Membership operators

#**Arithmetic Operators**

* Addition +
* Subtraction -
* Multiplicatin *
* Division /
* Modulus %
* Exponentiation **
* Floor Division //

In [ ]:
#Addition
a = 2
b = 4
c = a + b
print(c)
#print(type(c))

In [ ]:
#Subtraction
a = 9.0
b = 5.5
c = a - b
print(c)
#print(type(c))

In [ ]:
#Multiplication
a = 2
b = 4
print(a*b)
print(type(a*b))

In [ ]:
#Division
x = 12
y = 5
print(x/y)
print(type(x/y))

In [ ]:
#Floor Division
x = 5
y = 5
z = x//y
print(type(z))

In [ ]:
#Exponentiation or Exponential
x = 2
y = 5
print(x**y)
print(type(x**y))

In [ ]:
#Modulus
x = 5
y = 5
print(x%y)

#**Operator Precedence**


paranthesis

exponentiation

multiplication / division / f.d / modulus

addition, subtraction

In [ ]:
print(12 + 5 * (4 - 2))

#**Assignment Operators**

Assignment operators are used to assign values to variables

In [ ]:
x = 5
x += 3    # x = x+3
#x -= 3
#x *= 3
#x /= 3
#x %= 3
#x //= 3
#x **= 3 
print(x)

#**Comparison Operators**


These are used to compare two variables with each other.

">"  is greater than

"<"  is smaller than 

">="  is greater than or equal to 

"<="  is smaller than or equal to

"=="  is equal to

"!=" is not equal to

In [ ]:
a= 5
b = 10
print(a>=b)
print(a==b)
print(a<b)

# **Logical Operators**

Python has three Boolean operators, or logical operators: and , or , and not.

Logical operators are used to combine conditional statements

  

`and` 	      Returns "True" if both statements are true		
`or`	        Returns "True" if one of the statements is true	
`not`	        Reverse the result, returns "False" if the result is true

In [ ]:
x = 9
print(x < 5 and  x < 10)
#print(x < 5 or x < 10)
#print(not(x < 5 or x < 10))

In [ ]:
a = 20
b = 70
print(a==b or a>b)

#**Membership Operators**

Membership operators are used to test if a sequence is presented in an object

`in` Returns "True" if a sequence with the specified value is present in the object

`not in` Returns "True" if a sequence with the specified value is not present in the object

In [ ]:
var1 = "Python for Beginners"
print("f" in var1)
var2 = ["orange", 5, "3.5"]
print(5 in var2)