#**Tuple**

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan")
#print(T1)
#print(type(T1))

T2 = ("India",)
print(type(T2))

print(len(T1))

#**Accessing Tuple Elements**

Items in the tuples can be accessed by entering the index number inside square bracket.

The index can be a positive index, a negative index or a range of the indices.

In [ ]:
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
#print(T1[-2])

print(T1[-2:-5:-1])

#**Membership Operator in Tuple**

To determine if a specified item is present in a tuple use the `in` keyword:

In [ ]:
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
print("Pakistan" not in T1)

#**Update Tuples**

Tuples are immutable. You can't add or remove items in it. However, there are some hacks to do that.

In [ ]:
# Method 1 to add items in a tuple
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
x = list(T1)
x.append("Indonesia")
T1 = tuple(x)
print(T1)

In [ ]:
# Method 2 to add items in a tuple
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
T3 = ("Python",)
T1 += T3   # T1 = T1+T3
print(T1)

In [ ]:
# To remove items from tuple
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
x = list(T1)
x.remove("Pakistan")
T1 = tuple(x)
print(T1)

In [ ]:
# Delete a tuple
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
del T1
print(T1)

#**Unpacking a Tuple**

When we assign values to a tuple, it is packing the tuple.

We can also unpack the tuple and assign these values to different variables.

In [ ]:
T1 = ("Pakistan", "Nepal", 5, 8.9)
var1, var2, var3, var4 = T1
print(var1)
print(var2)
print(var3)
print(var4)

In [ ]:
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
var1, var2, var3, var4, *var5 = T1
print(var3)
print(var4)
print(var5)

#**Join Tuples**

To join tuples, you can use `+` operator.

In [ ]:
join1 = (3, 5, 7)
join2 = ("P", "A", "K")
join3 = (2, 4, 6)
#join1 += join2 + join3
print(join1+join3)

#**Multiply Tuples**

If you want to multiply the content of a tuple a given number of times, you can use the `*` operator.

In [ ]:
join2 = ("P", "A", "K")
print(join2 * 2)

join1 = (3, 5, 7)
print(join1 * 5)

#**Tuple Methods**

Python has two built-in methods for tuple.

* `count()` method

* `index()` method

In [ ]:
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09", "Sudan")

# count() method
print(T1.count("Sudan"))

#index() method
print(T1.index(5))