# **Python Variables**
Variables are containers for storing data values.

Python has no command for declaring a variable. There is no need to write the data type of a variable before it. 

A variable is created the moment you first assign a value to it.

In [ ]:
x = 5 
y = 10.3
print('x')
print(y)
print(x,y)

x
10.3
5 10.3

In [ ]:
#a  ''''Icode', "Guru"'''
b = 'Guru'
print(a)
print(b)
print(a,',',b)

'Icode', "Guru"
Guru
'Icode', "Guru" , Guru

# **Rules for assigning name to variable**



*   A variable name must start with a letter or the underscore character and there must be no white space in a variable name
*   A variable name cannot start with a number


*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ). No special characters are allowed i.e. @icode , Python$ are the invalid variables.
*   Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
_myVar5 = "iCodeGuru"
myVariableName = 95                 
MyVariableName = 'Pakistan'         
my_variable_name = 88.5 
print(myVariableName)

95

# **Assigning values to the variable:**




* Assigning multiple values to multiple variables
  
*   Assigning one value to multiple variables

#**Multiple Values to Multiple Variables**

Python allows you to assign values to multiple variables in one line.

In [ ]:
x, y, z = "Orange", 5, "Apple"
print(x)
print(y)
print(z)
a , b = 5 , 8
print(a)
print(b)

Orange
5
Apple
5
8

#**One Value to Multiple Variables**

You can also assign the same value to multiple variables in one line.

In [ ]:
x = y = z = "Orange"
print(x)
print(y)
print(z)
a = b = c = 1
print(a)
print(b)
print(c)

Orange
Orange
Orange
1
1
1

In [ ]:
b = 2
print(b)

2

In [ ]:
#b = 45
print(b)

45

#**Getting Address of a Variable**

Use `id` function for it.

The `id()` function returns a unique id for the specified object.

All objects in Python has its own unique id.

The `id` is assigned to the object when it is created.

The `id` is the object's memory address, and will be different for each time you run the program.

In [ ]:
x = 5
y = 5
x = 10
print(x)
print(y)
print(id(x))
print(id(y))

In [ ]:
x = "Hello"
print(id(x))
y = "Hello1"
print(id(y))

# **Data Types**
Following are some built-in data types in Python:


*   Text Type:  `str`
*   Numeric Types:  `int`, `float`  
*   Sequence Types: `list`, `tuple`
*   Mapping Type: `dict`
*   Set Type: `set`
*   Boolean Type: `bool`







---

In [ ]:
string_var = "Programming"
first_var = 20
float_var = 18.23
bool_var = False

print(string_var)
print(first_var)
print(float_var)
print(bool_var)

**Getting the Data type**

You can get the data type of any object by using the **type()** function:

In [ ]:
Var1 = 5
var1 = 1
print(var1)
print(Var1)
var2 = 2.5
# print(type(var2))
var3 = """Hello"""
# print(type(var3))
# var4 = true
# print(type(var4))

# **Type Casting in Python**
We can change the data type of a variable or a value.

In [ ]:
first = 10.5
print(int(first))
second = 90
third = str(second)
second